<div id="linker_form_gem" style="background-image: url(http://svite-league-apps-content.s3.amazonaws.com/bgimages/grunge-paper.jpg);">
  <div class="row center">
    <div class="col-md-10 col-md-offset-1">
      <br />
      <pre>
        <h3>
          Параметры:
        </h3>
        <%= @params.inspect %>
      </pre>
    </div>
  </div>
  <div class="row center">
    <div class="col-md-10 col-md-offset-1">
      <h1>
        Форма
      </h1>
      <pre>
        <form accept-charset="UTF-8" action="#" id="main_linker_form" method="get">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
          </div>
        </form>
      </pre>
      <br>
      <pre class="col-md-12" id="edit_input_form" style="display: none;"></pre><pre class="col-md-8 col-md-offset-2">
        <h3>
          Добавление нового input
        </h3>
        <br>
        Имя и id: 
        <input id="new_input_name" name="new_input_name" type="text">
        <br>
        Тип: 
        <select id="new_input_type" name="new_input_type"><option value="text">text</option>
          <option value="button">button</option>
          <option value="checkbox">checkbox</option>
          <option value="file">file</option>
          <option value="hidden">hidden</option>
          <option value="image">image</option>
          <option value="password">password</option>
          <option value="radio">radio</option>
          <option value="reset">reset</option>
          <option value="submit">submit</option>
          <option value="color">color</option>
          <option value="date">date</option>
          <option value="datetime">datetime</option>
          <option value="datetime-local">datetime-local</option>
          <option value="email">email</option>
          <option value="number">number</option>
          <option value="range">range</option>
          <option value="search">search</option>
          <option value="tel">tel</option>
          <option value="time">time</option>
          <option value="url">url</option>
          <option value="month">month</option>
          <option value="week">week</option>
        </select>
        <br>
        <input id="new_input_submit" name="commit" type="submit" value="Добавить input">
        <input id="new_input_clear" name="commit" type="submit" value="Очистить">
        <input id="new_input_delete_all" name="commit" type="submit" value="Удалить все">
      </pre>
      <pre class="col-md-8 col-md-offset-2">
        <h3>
          Функции формы
        </h3>
        Адрес для перехода (Дефолтно - покажет параметры)
        <br>
        <input id="link" name="link" type="text">
        <br>
        Тип запроса
        <br>
        <select id="mtd" name="mtd"><option value="get">get</option>
          <option value="post">post</option>
          <option value="patch">patch</option>
          <option value="put">put</option>
          <option value="delete">delete</option>
        </select>
        <br>
        <br>
        <input id="save_form_cookie" name="commit" type="submit" value="Сохранить cookie этой формы">
        <br>
        <input id="delete_form_cookie" name="commit" type="submit" value="Удалить cookie этой формы">
        <br>
        <br>
        <input id="main_linker_form_submit" name="commit" type="submit" value="Перейти">
      </pre>
      <pre class="col-md-8 col-md-offset-2">
        <input id="full_form_html" name="commit" type="submit" value="Html формы">
        <br>
        <textarea readonly id="full_form_html_textarea" style="display: none;width: 100%;">
        </textarea>
      </pre>
      <pre class="col-md-8 col-md-offset-2">
        <input id="full_routes_button" name="commit" type="submit" value="Роуты">
        <br>
        <br>
        <div id="full_routes" style="display: none;">
          <table border="1" style="width: 100%;">
            <tr>
              <th>
                Путь
              </th>
              <th>
                Метод
              </th>
            </tr>
            <% @str.each do |str| %>
              <tr>
                <td>
                  <h5>
                    <%= str[0] %>
                  </h5>
                </td>
                <td>
                  <h5>
                    <%= str[1] %>
                  </h5>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </pre>
    </div>
  </div>
</div>
<hr>