<!DOCTYPE html>
<html>
<head>
  <title>LinkerTool</title>
  <%= stylesheet_link_tag    "linker_tool/application", media: "all" %>
  <%= javascript_include_tag "linker_tool/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
